{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Notify</title>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
  <div class="grid">
    <header>
      <div class="titulo">
        <h3>
          Notify<span>.</span>
        </h3>
        <p>A great new free psd theme to showcase your new application.</p>
        <div class="imagens-header">
          <div>
            <img src="{%static '../static/img/icone-ios.png' %}" alt="">
          </div>
          <div>
         <img src="{%static '../static/img/icone-android.png' %}" alt="">
          </div>
          <div>
            <img src="{%static '../static/img/icone-windows.png' %}" alt="">
          </div>
        </div>
      </div>
      <div class="mao">
          <img src="{%static '../static/img/hand.png' %}" alt="">
      </div>
    </header>
    <main>

    </main>
    <section class="contato">

    </section>
    <section class="feedback">

    </section>
    <footer>

    </footer>
  </div>
</body>
</html>